<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd  
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">  
  
  	<context:component-scan base-package="com.xxx">
    </context:component-scan>
    
    <bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig">  
        <property name="maxIdle" value="300" />  
        <!-- <property name="maxActive" value="${redis.maxActive.value}" />  
        <property name="maxWait" value="${redis.maxWait}" /> -->  
        <property name="maxTotal" value="600" />  
        <property name="maxWaitMillis" value="1000"></property>  
        <property name="testOnBorrow" value="true" />  
    </bean>
      
    <bean id="connectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory"
          p:hostName="192.168.1.75" p:port="6379" p:password="123"  p:poolConfig-ref="poolConfig"/>
      
    <bean id="redisTemplate" class="org.springframework.data.redis.core.StringRedisTemplate">  
        <property name="connectionFactory" ref="connectionFactory" />  
    </bean>
    
    <bean id="redisBaseDao" class="com.xxx.training.core.dao.impl.RedisBaseDaoImpl" >
    	<property name="redisTemplate" ref="redisTemplate"></property>
    </bean>
        
</beans>