<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.training.sysmanager.dao.aclresources.AclResourcesMapper">
    <resultMap type="AclResources" id="AclResourcesResultMap">
        <id column="id" property="id" />
        <result column="url" property="url" />
        <result column="type" property="type" />
        <result column="name" property="name" />
        <result column="pronoun" property="pronoun" />
        <result column="parent_id" property="parentId" />
        <result column="authority" property="authority" />
        <result column="request_type_id" property="requestTypeId" />
        <result column="create_time" property="createTime" />
        <result column="last_modify_time" property="lastModifyTime" />
    </resultMap>
</mapper>